.about {
    width:100%;
    text-align: left;
    height: 300;
    padding-bottom: 32px;
    padding-left: 64px;
    padding-right: 64px;
    font-family: 'Roboto Slab', serif;
}

.about .text {
    padding-left: 256px;
    padding-right: 256px;

}

.about .heading {
    letter-spacing: 5px;
    color: #78909c;
    font-size: 10px;
    padding-bottom: 8px;
    padding-top: 70px;
}

.about .subheading {
    letter-spacing: 5px;
    color: black;
    font-size: 20px;
    padding-bottom: 16px;

}

.about .description {
    padding-bottom: 16px;
}

.cardlink {
    color: black;
}

.card_1 {
    background-color: #2196f3 !important;
    color: white;
    font-size: 20px;

}

.card_2 {
    background-color: #fbc02d !important;
    color: white;
    font-size: 20px;
}

.card_3 {
    background-color: #00897b !important;
    color: white;
    font-size: 20px;
}

.text-center {
    width: 29vw !important;
}

