.experience {
    width: 100%;
    text-align: left;
    margin: auto;
    height: 300;
    padding-bottom: 32px;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: 'Roboto Slab', serif;
}

.experience .heading {
    letter-spacing: 5px;
    color: #78909c;
    font-size: 10px;
    padding-bottom: 8px;
    padding-top: 70px;
}

.experience .subheading {
    letter-spacing: 5px;
    color: black;
    font-size: 20px;
    padding-bottom: 16px;

}

.card-img-top {
    height: 230px;
}

@media screen and (max-width: 600px) {
    .experience {
        width: 100%;
        text-align: left;
        height: 300;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
        font-family: 'Roboto Slab', serif;
    }

    .experience .heading {
        letter-spacing: 5px;
        color: #78909c;
        font-size: 10px;
        padding-bottom: 8px;
        padding-top: 70px;
    }

    .experience .subheading {
        letter-spacing: 5px;
        color: black;
        font-size: 20px;
        padding-bottom: 16px;

    }

    .text-center {
        width: 100% !important;
    }


}