.introduction {
    width: 80%;
    float: right;
    height: 100vh;
    color: white;
}

.carousel-control-next-icon {
    display: none !important;
}

.carousel-control-prev-icon {
    display: none !important;
}

img {
    height: 100vh;
}

.splash_pic {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

@media screen and (max-width: 600px) {

    .introduction {
        visibility: hidden;
        clear: both;
        width: 0;
        float: right;
        height: 100vh;
        color: white;
        display: none;

    }
}