.projects {
    width: 100%;
    text-align: left;
    
    font-family: 'Roboto Slab', serif;
    background: #eeeeee;
}

.projects-container {
    padding-left: 14vw;
    padding-right: 14vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.projects .heading {
    letter-spacing: 5px;
    color: #707070;
    font-size: 10px;
    padding-bottom: 8px;
}

.projects .subheading {
    letter-spacing: 5px;
    color: black;
    font-size: 20px;
    padding-bottom: 16px;

}

.card {
    transition: transform .3s; /* Animation */
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 6vw;
    object-fit: contain;
}

.card-img.tearline {
    background-color: #388E3C;
}

.card-img.skibuilder {
    background-color: #cfd8dc;
}

.wired_logo {
    height: 25px;
    margin-top: -5px;
    object-fit: contain;
}

.footer_icon {
    color: #546e7a;
}

.footer_icon:hover {
    color: #819ca9;
}

@media screen and (max-width: 600px) {
    .projects {
        width: 100%;
        text-align: left;
        height: 300;
        font-family: 'Roboto Slab', serif;
    }

    .projects-container {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 10vh;
        padding-top: 10vh;
    }

    .project_card {
        width: 100% !important;
    }

    .card-img {
        width: 100%;
        height: 16vw;
        object-fit: contain;
    }

}