.projects {
    width: 100%;
    text-align: left;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    font-family: 'Roboto Slab', serif;
}

.projects .heading {
    letter-spacing: 5px;
    color: #78909c;
    font-size: 10px;
    padding-bottom: 8px;
}

.projects .subheading {
    letter-spacing: 5px;
    color: black;
    font-size: 20px;
    padding-bottom: 16px;

}

.card-img {
    width: 100%;
    height: 6vw;
    object-fit: contain;
}

.card-img.tearline {
    background-color: #388E3C;
}

.card-img.skibuilder {
    background-color: #cfd8dc;
}

.wired_logo {
    height: 25px;
    margin-top: -5px;
    object-fit: contain;
}

.footer_icon {
    color: #546e7a;
}

.footer_icon:hover {
    color: #819ca9;
}

@media screen and (max-width: 600px) {
    .projects {
        width: 100%;
        text-align: left;
        height: 300;
        padding-top: 0px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
        font-family: 'Roboto Slab', serif;
    }

    .project_card {
        width: 100% !important;
    }

    .card-img {
        width: 100%;
        height: 16vw;
        object-fit: contain;
    }

}