.mobile {
    display: none;
}

.desktop {
    display: display;
}

.timeline-container {
    float: center;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 14vw;
    padding-right: 14vw;
    font-family: 'Roboto Slab', serif;
}

.timeline-container .heading {
    letter-spacing: 5px;
    color: #78909c;
    font-size: 10px;
    padding-bottom: 8px;
}

.timeline-container .subheading {
    letter-spacing: 5px;
    color: black;
    font-size: 20px;
    padding-bottom: 8px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

/* Middle line */
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

/* Timeline Cards */
.timeline>li>.timeline-panel {
    width: 45%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 6px;
    left: 49%;
    margin-left: -25px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.logo {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.timeline-heading {
    display: inline-block;
}

h4 {
    margin-bottom: 2px !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-subtitle {
    font-size: 18px;
}

.timeline-body {
    padding-top: 16px;
    border-top: 1px solid #bdbdbd;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

.timeline-logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin-right: 16px;
    margin-top: -48px;
    margin-bottom: 16px;
}

.timeline-title-nga {
    font-size: 18px;
}

@media screen and (max-width: 600px) {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .timeline-container {
        float: center;
        padding-left: 8px;
        padding-right: 8px;
        font-family: 'Roboto Slab', serif;
    }

    .timeline-container .heading {
        padding-left: 16px;

    }

    .timeline-container .subheading {
        padding-left: 16px;

    }

    .timeline {
        list-style: none;
        /* padding: 20px 0 20px; */
        position: relative;
    }

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 5%;
        margin-left: -1.5px;
    }

    .timeline>li {
        margin-bottom: 20px;
        position: relative;
    }

    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }

    .timeline>li:after {
        clear: both;
    }

    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }

    .timeline>li:after {
        clear: both;
    }

    .timeline>li>.timeline-panel {
        width: 86%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 12px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline>li>.timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline>li>.timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }

    .timeline>li>.timeline-badge {
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 0.9em;
        text-align: center;
        position: absolute;
        top: 27px;
        left: 5%;
        margin-left: -15px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
    }

    .timeline>li.timeline-inverted>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline>li.timeline-inverted>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline-heading {
        padding-bottom: 6px;
    }

    h4 {
        margin-bottom: 2px !important;
        font-size: 16px !important;
    }

    .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline-subtitle {
        font-size: 12px;
    }

    .timeline-body {
        padding-top: 8px;
    }

    .timeline-body>p,
    .timeline-body>ul {
        margin-bottom: 0;
        font-size: 12px;
    }

    .timeline-logo {
        visibility: hidden;
        clear: both;
        width: 0;
        display: none;
    }
}