.App {
  text-align: center;
  scroll-behavior: smooth;
}

/* css */
html {
  scroll-behavior: smooth;
}

button {
  background: none !important;
  border: none;
  padding: 0 !important;

  color: #42a5f5;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  color: #90caf9;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0 !important;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background: #F8F9FA;
  padding-top: 16px;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
}

.sidebar>.contact {
  padding-top: 8px;
  padding-bottom: 16px;
  color: gray;
}

.sidebar>.heading {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  padding-top: 8px;
}

.sidebar>.links {
  padding-top: 12px;
  padding-bottom: 12px;
}

.sidebar>.links>.link {
  padding-bottom: 4px;
}

.sidebar>.icons>.icon {
  padding-bottom: 8px;
  font-size: 16px;
}

.sidebar>.icons>.icon a {
  display: inline-block;
  color: #424242;
  padding-right: 3px;
}

.sidebar>.icons>.icon a:hover {
  color: #757575;
}

.sidebar>.profilepic {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("./components/images/profilepic.jpg");
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.sidebar>.footer {
  width: 20%;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  left: 0px;
  padding-bottom: 16px;
}